/* For devices with a maximum width of 768px */
@media only screen and (max-width: 768px) {
    body {
        /* width: 1024px × 768px; Remove this */
    }
}

/* For devices with a maximum width of 576px */
@media only screen and (max-width: 576px) {
    body {
        /* width: 360px × 640px; Remove this */
    }
}

body {
    margin: 0px;
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative; /* Add this to make absolute positioning relative to body */
}

.display {
    width: 500px; /* Adjust width as needed */
    margin-bottom: 20px; /* Add spacing below search input */
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); /* Initial shadow with zero opacity */
    border-radius: 24px; /* Initial border radius */
    transition: box-shadow 0.5s; /* Define transition for box-shadow */
}

.display input[type="text"] {
    width: 100%;
    height: 40px; /* Adjust height as needed */
    font-size: 16px;
    padding: 10px;
    border: 1px solid #dfe1e5; /* Add border similar to Google */
    border-radius: 24px; /* Make the input rounded */
    background-color: #fff; /* Set background color for input */
    outline: none; /* Remove outline on focus */
    transition: box-shadow 0.5s;
}

.display input[type="text"]:focus {
    border-color: #6e6f72; /* Change border color on focus */
}

.display:hover {
    box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.5); /* Increase the spread radius to extend the shadow */
    border-radius: 24px;
}       
        



    /* Style the select element */
.dropdown select {
    appearance: none; /* Remove default styles */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background-color: grey;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the options within the select element */
.dropdown select option {
    background-color: black;
    color: white;
}

/* Style the dropdown container */
.dropdown {
    margin-bottom: 10px;
}

    
    






.logo-container{
    top:0%;
    right:0%;
    position: absolute;
}   

.logo-container img {
    width: 200px; /* Adjust width as neededs */
    height: auto; /* Maintain aspect ratios */
}
    
    
    
    
   