

body {
    margin: 0;
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
}

.zoom-button {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 35%;
}

.zoom-button button {
    background-color: black;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 2.5vmin;
    height: 7vmin;
    width: 7vmin;
    border: 0.4vmin solid rgb(200, 200, 200);
    transition: transform 0.3s, box-shadow 0.3s;
    color: white;
}

.zoom-button button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.zoom-button button:active {
    box-shadow: none;
}

.zoom-button button:focus {
    outline: none;
}

.zoom-button button.clicked {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.display {
    width: 500px;
    margin-bottom: 20px;
}

.display input[type="text"] {
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background-color: rgb(49, 49, 49);
    outline: none;
    border-color: black;
    color:white
    
}

.display input[type="text"]:focus {
    border-color: #ffffff;
}

.dropdown select {
    appearance: none;
    background-color: grey;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown select option {
    background-color: black;
    color: white;
}

.dropdown {
    margin-bottom: 10px;
}

.logo-container {
    top: 0;
    right: 0;
    position: absolute;
}

.logo-container img {
    width: 200px;
    height: auto;
}
